.todo-item-container {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.todo-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
  align-items: center;
  height: 52px;
  background: transparent;
  padding: 0px 16px 0px 16px;
  border-bottom: 1px solid #e3e4f1;
}

.check-div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(209, 210, 218, 1);
  background-color: transparent;
  cursor: pointer;
}
.check-div:hover {
  border-color: Linear Gradient rgba(85, 221, 255, 1) rgba(192, 88, 243, 1);
}
.todo-task {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: #494c6b;
  cursor: pointer;
}
.todo-task:hov .dark-theme {
  background-color: #25273d;
}

.cross {
  height: 16px;
  width: 16px;
  margin-left: auto;
}

.background {
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
}
.checked {
  transform: translateX(30%);
}
.underlined {
  text-decoration-line: line-through;
  color: #d1d2da;
}
.change-color {
  color: rgba(200, 203, 231, 1);
}

.border {
  border-bottom: 1px solid #393a4b;
}

@media screen and (min-width: 1440px) {
  .todo-task {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.25px;
    color: #494c6b;
  }
}
