.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 48px;
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding-left: 81px;
  padding-right: 80px;
}
.all,
.active,
.completed {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.194444px;
  color: #9495a5;
  cursor: pointer;
}
.all {
  color: rgba(58, 124, 253, 1);
}

.dark-theme {
  background: transparent;
}

@media screen and (min-width: 1440px) {
  .footer {
    /* display: none; */
    padding-left: 0px;
    padding-right: 0px;
    width: 50%;
    gap: 19px;
  }

  .all,
  .active,
  .completed {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.194444px;
    color: #5b5e7e;
  }
  .all {
    color: rgba(58, 124, 253, 1);
  }
}
