.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 48px;
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding-left: 81px;
  padding-right: 80px;
}
.all,
.active,
.completed {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.194444px;
  color: #9495a5;
}

.dark-theme {
  background: #25273d;
}
